  <div class="field">
    <%= f.label :strain_id %>
    <%= f.select :strain_id, options_from_collection_for_select(Strain.all, :id, :name), prompt: "Seleciona.."%>
    <!-- <%#= collection_select(:strain_id, Strain.all, :id, :name, {prompt: true}) %> no funciona --> 

  </div>
  <div class="field">
    <%= f.label :percentage %>
    <br/>
    <%= f.number_field :percentage %>
  </div>

  <%= link_to_remove_association "remove task", f %>

